
	

	
	
	<!--  M A I N  C O N T E N T -->
	
		<div class='row' id='main-content'>
			<!--  This should be inserted into head with js? -->
			<link rel="preload" href="css/profile.css" as="style" onload="this.rel='stylesheet'">
			
			<div class='col-6' id='stats'>
				<h1 class='display-4' id='player-heading'></h1>
				Username : <span id='username'></span>
				<br>
				Name : <span id='name'></span>
				<br>
				Birthday : <span id='birthday'></span>
				<br>
				
			</div>
				
				<div class='col-6'>
				<div id='table-wrapper'>
					<h1 class='display-4'>Recent times:</h1>
					<ul id='list-of-times'></ul>
					<table class='table table-sm table-striped table-bordered table-hover' id='times-table'>
						<tr>
							<th class='thead-dark' scope='col'>Cube</th>
							<th class='thead-dark' scope='col'>Date</th>
							<th class='thead-dark' scope='col'>Time</th>
						</tr>
					</table>
				</div>
					<button class='btn btn-block btn-sm btn-secondary' id='load-more'>Load More</button>
				</div>
			
			
	<script>
		$.getScript('/js/profile.js');
	</script>
		</div>
	
	
	
	

