		

<div class='row' id='main-content'>
	<!--  This should be inserted into the head with js? -->
	<link rel="preload" href="css/timer.css" as="style" onload="this.rel='stylesheet'">
<!--  S T O P W A T C H  -->
<div class='col-12'>
	<div id='timer-text'>
		<span>00:</span>
		<span>00.</span><span>000</span>
	</div>
	<p>Press spacebar to start / stop timer</p>
</div>
<!--  R E C O R D E D  T I M E S  -->
<div class='col-6' id='times-col'>
	<h5 id='times-heading'>
		T I M E S 
		</h5>
	<ol class='list-group' reversed id='times-list'></ol>
</div>
<!--  S T A T S  -->
<div class='col-6' id='stats-col'>
	<table class='table table-striped table-bordered table-hover table-sm' id='stats'>
		<h5 id='stats-heading'>
		S T A T S
		</h5>
		<tr>
			<th scope='col'>Best</th>
			<th scope='col'>Average</th>
		</tr>
		<tr>
			<td id='best'>--:--.---</td>
			<td id='average'>--:--.---</td>
		</tr>
		<tr>
			<th scope='col'>Avg. of 5</th>
			<th scope='col'>Avg. of 10</th>
		</tr>
		<tr>
			<td id='average-of-5'>--:--.---</td>
			<td id='average-of-10'>--:--.---</td>
		</tr>
		<tr>
			<th scope='col'>3 of 5</th>
			<th scope='col'>8 of 10</th>
		</tr>
		<tr>
			<td id='3-of-5'>--:--.---</td>
			<td id='8-of-10'>--:--.---</td>
		</tr>
	</table>
		</div>
	<script>
	$.getScript('/js/stop-watch.js');
	$.getScript('/js/timer.js');
	</script>
</div>