.hidden {
	background-color: rgba(230,230,230);
	display: none;
}

.active {
	display: inline-block;
	background-color: rgba(200,200,200);
}

.col, [class*="col-"] {
	padding-left:0;
	padding-right:0;
}

.row {
	margin-left:0;
	margin-right:0;
}

/* container adjusted */
.container-fluid {
	width:100%;
	max-width:none;
	padding:0;
}

p {
	text-align: center;
}


/*  C H A T  S T Y L E S  */
#chat-container {
/*
	margin-top: 0;
	padding: 0;
	width: 100%
*/
}

#tab-container {
	width: 100%;
}

.active-tab {
	background-color: blue!important;
}

.tab-button {
	display: block;
	float: left;
	background-color: rgba(230,230,200);
	border: none;
	cursor: pointer;
	padding: 14px 16px;
	margin-right: 0px;
	margin-left: 0px;
	border: 0 1px 0 0 solid silver;
}

.tab-button:hover {
	background-color: rgba(210,210,210)
}

.tab-button:focus {
	outline: none;
	background-color: rgba(240,240,240);
}

#chatbox-col {
	padding: 0;
}

.messageBox {
	height: 400px;
	max-height: 400px;
	overflow-y: scroll;
	width: 100%;
	padding-left: 0;
	margin-bottom: 0;
	background-color: rgb(245, 245, 220);
}

#rooms-col {
	padding: 0;
}

#rooms-list {
	height: 400px;
	max-height: 400px;
	width: 100%;
	padding: 0;
	margin-bottom: 0;
	background-color: mintcream;
}

#rooms-header {
	text-align: center;
	list-style: none;
	border-bottom: 1px solid black;
	height: 52px;
	margin-bottom: 0;
}

.rooms-list-item {
	list-style: none;
}

#chat-form {
	margin-bottom: 0;
}

#chat-input-col {
	padding-left: 0;
	padding-right: 0;
		
}

#chat-input-div {
	padding: 0;
	margin-bottom: 0;
}

#chat-button-col {
	margin-right: 0;
	padding: 0;
	padding-right: 1px;
}

#chat-input-field {
	width: 100%;
	padding: 0;
	margin-left: 1px;
	border-radius: 0;
}

#chat-input-button {
	width: 100%;
	height: 36px;
	padding: 0;
	margin: 0;
	padding-top: 1;
	padding-bottom: 1;
	border-radius: 0 !important;
	
}


#logout-button {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}




