.col, [class*="col-"] {
	padding-left:0;
	padding-right:0;
}

.row {
	margin-left:0;
	margin-right:0;
}

/* container adjusted */
.container-fluid {
	width:100%;
	max-width:none;
	padding:0;
}

#table-wrapper {
	text-align: center;
	max-height: 300px;
	overflow-y: scroll;
}

#stats {
	margin-bottom: 15px;
	text-align: center;
}

.score-row {
	display: none;
}

#load-more {
	display: none;
}

#main-content {
	margin-top: 40px;
}



