#main-content {
	margin-left: 15px;
	margin-right: 15px;
}

#table-wrapper {
	text-align: center;
	max-height: 300px;
	overflow-y: scroll;
}

#stats {
	margin-bottom: 15px;
	text-align: center;
}

.score-row {
	display: none;
}

#load-more {
	display: none;
}

#main-content {
	margin-top: 40px;
}



