.col, [class*="col-"] {
	padding-left:0;
	padding-right:0;
}

.row {
	margin-left:0;
	margin-right:0;
}

/* container adjusted */
.container-fluid {
	width:100%;
	max-width:none;
	padding:0;
}

#timer-text {
	height: auto;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	min-width: -webkit-min-content;
	min-width: -moz-min-content;
	min-width: min-content;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#timer-text span {
	/* what the heck is define? */
	width: {define width}
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	font-weight: bold;
	font-size: 6.3em;
	margin: auto;
}

#scramble {
	text-align: center;
	width: auto;
	font-size: 1.2em;
	font-weight: bold;
	
}

#times-col {
	overflow-y: auto;
	max-height: 221px;
}

#times-heading {
	display: block;
	text-align: center;
	background-image: linear-gradient(blue, beige);
	margin-bottom: 0;
	width: 100%;
}

#times-list {
	text-align: center;
	
}

#stats-heading {
	text-align: center;
	background-image: linear-gradient(blue, beige);
	margin-bottom: 0;
}

#stats {
	text-align: center;
}